**/venv_mc949/
.venv/
resultados_etapa2/
resultados_etapa3/
resultados_etapa4/
resultados_etapa5/
images-developed-png-16bit/
images-developed-png-8bit/
images-developed-tiff-16bit/
images-developed-tiff-8bit/
images-normal/
images-pro/
etapa*.py
