venv_mc949/
.venv/
resultados_etapa2/
resultados_etapa3/
resultados_etapa4/
resultados_etapa5/
Trabalho 2/imagens-t2/
Trabalho 4/Set14dataset
images-*/
etapa*.py
*.gif
colmap_project
resultado*.ipynb
T4a.pdf